@model NorthwindShop.Models.Products

@{
    ViewBag.Title = "Confection";
    Layout = "~/Views/_Layout.cshtml";
}

<link href="~/Content/CSS/ProductCSS.css" rel="stylesheet" />
<link href="~/Content/CSS/WindowCSS.css" rel="stylesheet" />

<script type="text/javascript" src="~/Scripts/CustomScripts/WindowScript.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

<div id="ProductName" >@Model.ProductName</div>

<div id="ProductImage">
   @Html.Raw("<img style='width:80px; height:60px;' src=\"data:image/jpeg;base64," + Convert.ToBase64String(ViewBag.ImageCategory) + "\" />")
</div>

<div id="ProductDescription">
    <p>QuantityPerUnit: @Model.QuantityPerUnit </p>

    @{ if (Model.Discontinued == true)
        {
            <p>It's discontinued</p>
        }
        else
        {
            <p>It's not discontinued </p>
        }
    }

    <p>UnitPrice: @Model.UnitPrice </p>

    
</div>

        <input id="hiddenProductId" type="hidden" value="@Model.ProductID" />
        <input class="open_window" type="button" value="Buy" />



<div class="overlay" title="Shopping cart"></div>
<div class="popup">
    <h1 style="text-align:center;">Shopping cart</h1>
    <ol>
@using (Html.BeginForm("Cart", "Product", FormMethod.Post))
{
    <li><span id="ProductNameInWindow"></span> <span><input id="minusButton" class="ArthButtons" type="button" value="-" /></span><span class="CountProducts"><input name="InputText" id="InputText" type="text" value="1" size="2" maxlength="4" /></span><span><input id="plusButton" class="ArthButtons" type="button" value="+" /></span></li>
        <div id="ButtonsTwoActions">
            <span id="ContinueButtonTag">

                <input name="IdProductSet" type="hidden" value="@Model.ProductID" />
                <input name="button"  id="ContinueButton" type="submit" value="Continue" />


            </span>
            <span id="BuyButtonTag" >

                <input name="button"  id="BuyButton" type="submit" value="Buy" />

             </span>
        </div>
}

      
    </ol>

</div>
